* {
	padding: 0;
	margin: 0;
	font-family: 'Courier New', Courier, monospace;
}

body {
	display: grid;
	height: 100vh;
	place-items: center;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	height: 500px;
	width: 500px;
	gap: 4px;
	background-color: black;
	margin-top: -200px;
}

main div {
	background-color: white;
	display: grid;
	place-items: center;
	font-size: 8rem;
	user-select: none;
}

body #status-message {
	font-size: 3rem;
}